<div class="container" >
  <h3>Actors</h3>

  <div class='mb-3'>
    <%= form_with(url: actors_path, scope: :search, method: :get, html: {
      data: {
        turbo_frame: "actor-list",
        controller: "form",
        action: "input->form#submit"
      }
    }) do |form| %>
      <div class="row m-2">
        <div class="col-4">
          <%= form.text_field :name, class: 'form-control' %>
        </div>
      </div>
  <% end %>
  </div>

  <%= turbo_frame_tag "actor-list" do %>
    <div id="actors">
      <div class="row py-3 border">
        <div class="col-11">名前</div>
        <div class="col-1">
          <%= link_to '新規', new_actor_path, data: { turbo_frame: "_top" } %>
        </div>
      </div>
      <% @actors.each do |actor| %>
        <div class="row py-3 border" id="<%= dom_id actor %>">
          <div class="col-11">
            <%= link_to actor.name, actor, class: 'link-dark', data: { turbo_frame: "_top" } %>
          </div>
<!--          <div class="col-1">-->
            <%#= actor.articles_count %>
<!--          </div>-->
        </div>
      <% end %>
    </div>
    <div class="d-flex border" >
      <%= paginate @actors %>
    </div>
  <% end %>
</div>
