<%= form_with(url: shared_musics_path, model: music, data: { action: "turbo:submit-end->modal#close" }) do |form| %>
  <% if music.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
        <% music.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, 'タイトル', class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :url, 'URL', class: 'form-label' %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
