<p style="color: green"><%= notice %></p>

<div class="container" >
  <div class="row m-2" >
    <div class="col-10 fw-bold">
      <%= @music.name %>
    </div>
  </div>

  <div class="row m-2" data-controller="copy">
    <div class="col-1 fw-bold">Note用</div>
    <div class="col">
      <%= button_tag :copy, data: { action: 'click->copy#copy' } %>
    </div>
    <div class="col-10 d-none" data-copy-target="content"><pre><%= @articles.for_note %></pre></div>
  </div>

  <div id="musics">
    <% @articles.each do |article| %>
      <div class="row py-3 border" id="<%= dom_id article %>">
        <div class="col-6">
          <%= link_to article.title, article_path(article), class: 'link-dark' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex border" >
    <%= paginate @articles %>
  </div>

  <div>
    <%= link_to "Back to musics", musics_path %>
  </div>

  <div>
    <%= link_to "count refresh", music_path(@music), method: :patch %>
  </div>
</div>
